@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {

  body {
    @apply bg-grey dark:bg-pop transition duration-500;
    scroll-behavior: smooth;
  }

  h1 {
    @apply text-brand dark:text-azure transition duration-500;
  }

  h2 {
    @apply text-brand dark:text-azure transition duration-500;
  }

  h3 {
    @apply text-brand dark:text-azure transition duration-500;
  }

  h4 {
    @apply text-brand dark:text-azure transition duration-500;
  }

  h5 {
    @apply text-brand dark:text-azure transition duration-500;
  }

  h6 {
    @apply text-brand dark:text-azure transition duration-500;
  }

  p {
    @apply text-brand dark:text-azure transition duration-500;
  }

  li {
    @apply text-brand dark:text-azure transition duration-500;
  }

}

@layer components {

  .navitem {
    @apply cursor-pointer text-sm font-medium uppercase hover:opacity-70 text-brand dark:text-azure transition duration-500;
  }

  .contactitem {
    @apply cursor-pointer text-sm font-medium uppercase hover:opacity-70 transition duration-500;
  }

  .background {
        animation: move-1 20s ease-in-out infinite;
        transform-origin: 50% 50%;
        -webkit-animation: move-1 40s ease-in-out infinite;
    }

  @keyframes move-1 {
        0%   { transform: scale(1) rotate(180deg) translate(100px, -140px); -webkit-transform: scale(1) rotate(180deg) translate(100px, -140px); -moz-transform: scale(1) rotate(180deg) translate(100px, -140px); -ms-transform: scale(1) rotate(180deg) translate(100px, -140px); -o-transform: scale(1) rotate(180deg) translate(100px, -140px); }
        38%  { transform: scale(1) translate(80vw, 50vh); -webkit-transform: scale(1) translate(80vw, 50vh); -moz-transform: scale(1) translate(80vw, 50vh); -ms-transform: scale(1) translate(80vw, 50vh); -o-transform: scale(1) translate(80vw, 50vh); }
        40%  { transform: scale(1) translate(80vw, 50vh); -webkit-transform: scale(1) translate(80vw, 50vh); -moz-transform: scale(1) translate(80vw, 50vh); -ms-transform: scale(1) translate(80vw, 50vh); -o-transform: scale(1) translate(80vw, 50vh); }
        78%  { transform: scale(1) rotate(90deg) translate(-10vw, -20vh); -webkit-transform: scale(1) rotate(90deg) translate(-10vw, -20vh); -moz-transform: scale(1) rotate(90deg) translate(-10vw, -20vh); -ms-transform: scale(1) rotate(90deg) translate(-10vw, -20vh); -o-transform: scale(1) rotate(90deg) translate(-10vw, -20vh); }
        80%  { transform: scale(1) rotate(90deg) translate(-10vw, -20vh); -webkit-transform: scale(1) rotate(90deg) translate(-10vw, -20vh); -moz-transform: scale(1) rotate(90deg) translate(-10vw, -20vh); -ms-transform: scale(1) rotate(90deg) translate(-10vw, -20vh); -o-transform: scale(1) rotate(90deg) translate(-10vw, -20vh); }
        95%  { transorm:scale(1) rotate(180deg) translate(-100px, 180px);}
        100% { transform: scale(1) rotate(180deg) translate(100px, -140px); -webkit-transform: scale(1) rotate(180deg) translate(100px, -140px); -moz-transform: scale(1) rotate(180deg) translate(100px, -140px); -ms-transform: scale(1) rotate(180deg) translate(100px, -140px); -o-transform: scale(1) rotate(180deg) translate(100px, -140px); }
    }
}