@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {

  body {
    @apply bg-red dark:bg-cream transition duration-500;
    scroll-behavior: smooth;
  }

  h1 {
    @apply text-cream dark:text-red transition duration-500 cursor-default;
  }

  h2 {
    @apply text-cream dark:text-red transition duration-500 cursor-default;
  }

  h3 {
    @apply text-cream dark:text-red transition duration-500 cursor-default;
  }

  h4 {
    @apply text-cream dark:text-red transition duration-500 cursor-default;
  }

  h5 {
    @apply text-cream dark:text-red transition duration-500 cursor-default;
  }

  h6 {
    @apply text-cream dark:text-red transition duration-500 cursor-default;
  }

  p, blockquote {
    @apply text-cream dark:text-red transition duration-500 cursor-default;
  }

  li {
    @apply text-cream dark:text-red transition duration-500 cursor-default;
  }

}

@layer components {

  .navitem {
    @apply cursor-pointer text-sm italic text-left sm:text-right font-medium uppercase sm:opacity-70 sm:hover:opacity-100 text-cream dark:text-red transition duration-500;
  }

  .contactitem {
    @apply cursor-pointer text-sm italic font-medium uppercase sm:opacity-70 sm:hover:opacity-100 text-cream dark:text-red transition duration-500;
  }


  .background {
        animation: background_move 30s ease-in-out infinite;
        transform-origin: 50% 50%;
        -webkit-animation: background_move 30s ease-in-out infinite;
}

  @keyframes background_move {
        0%  { transform: scale(1) rotate(90deg) translate(40vw, -30vh); -webkit-transform: scale(1) rotate(90deg) translate(40vw, -30vh); -moz-transform: scale(1) rotate(90deg) translate(40vw, -30vh); -ms-transform: scale(1) rotate(90deg) translate(40vw, -30vh); -o-transform: scale(1) rotate(90deg) translate(40vw, -30vh); }
        24%  { transform: scale(1) rotate(90deg) translate(12vw, -90vh); -webkit-transform: scale(1) rotate(90deg) translate(12vw, -90vh); -moz-transform: scale(1) rotate(90deg) translate(12vw, -90vh); -ms-transform: scale(1) rotate(90deg) translate(12vw, -90vh); -o-transform: scale(1) rotate(90deg) translate(12vw, -90vh); }
        27%  { transform: scale(1) rotate(90deg) translate(12vw, -90vh); -webkit-transform: scale(1) rotate(90deg) translate(12vw, -90vh); -moz-transform: scale(1) rotate(90deg) translate(12vw, -90vh); -ms-transform: scale(1) rotate(90deg) translate(12vw, -90vh); -o-transform: scale(1) rotate(90deg) translate(12vw, -90vh); }
        54%  { transform: scale(1) rotate(90deg) translate(-10vw, -20vh); -webkit-transform: scale(1) rotate(90deg) translate(-10vw, -20vh); -moz-transform: scale(1) rotate(90deg) translate(-10vw, -20vh); -ms-transform: scale(1) rotate(90deg) translate(-10vw, -20vh); -o-transform: scale(1) rotate(90deg) translate(-10vw, -20vh); }
        56%  { transform: scale(1) rotate(90deg) translate(-10vw, -20vh); -webkit-transform: scale(1) rotate(90deg) translate(-10vw, -20vh); -moz-transform: scale(1) rotate(90deg) translate(-10vw, -20vh); -ms-transform: scale(1) rotate(90deg) translate(-10vw, -20vh); -o-transform: scale(1) rotate(90deg) translate(-10vw, -20vh); }
        74% { transform: scale(1) rotate(180deg) translate(100px, -140px); -webkit-transform: scale(1) rotate(180deg) translate(100px, -140px); -moz-transform: scale(1) rotate(180deg) translate(100px, -140px); -ms-transform: scale(1) rotate(180deg) translate(100px, -140px); -o-transform: scale(1) rotate(180deg) translate(100px, -140px); }
        100%  { transform: scale(1) rotate(90deg) translate(40vw, -30vh); -webkit-transform: scale(1) rotate(90deg) translate(40vw, -30vh); -moz-transform: scale(1) rotate(90deg) translate(40vw, -30vh); -ms-transform: scale(1) rotate(90deg) translate(40vw, -30vh); -o-transform: scale(1) rotate(90deg) translate(40vw, -30vh); }
  }

  .hello {
        animation: hello 7s ease-in-out;
        -webkit-animation: hello 7s ease-in-out;
}

    @keyframes hello {
        0%   {
            opacity: 0;
}
        20%  {
            opacity: 0;
}
        50% {
            opacity: 1;  
}
        92% {
            opacity: 1;  
}
        100% {
          opacity: 0;
        }
    }

    .iam {
        animation: iam 7s ease-in-out;
        -webkit-animation: iam 7s ease-in-out;
}

    @keyframes iam {
        0%   {
            opacity: 0;
        }
        50%  {
            opacity: 0;
        }
        65% {
            opacity: 1;
        }
        92% {
            opacity: 1;
        }
        100% {
            opacity: 0;
        }
    }

    .safari_fix {
      -webkit-mask-image: -webkit-radial-gradient(white, black);
    }
}