@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {

  html {
    @apply bg-grey;
    scroll-behavior: smooth;
  }

}

@layer components {

  .navitem {
    @apply cursor-pointer text-sm uppercase hover:underline text-brand;
  }

  .background {
        background:radial-gradient(circle at 100%, #F6ECDD, #F4E7D4 50%, #F4E7D4 75%, #C3B9AA 75%);
        animation: move-1 20s ease-in-out infinite;
        transform-origin: 50% 50%;
        -webkit-animation: move-1 40s ease-in-out infinite;
    }

  @keyframes move-1 {
        0%   { transform: scale(1) rotate(180deg) translate(100px, -140px); -webkit-transform: scale(1) rotate(180deg) translate(100px, -140px); -moz-transform: scale(1) rotate(180deg) translate(100px, -140px); -ms-transform: scale(1) rotate(180deg) translate(100px, -140px); -o-transform: scale(1) rotate(180deg) translate(100px, -140px); }
        38%  { transform: scale(1) translate(80vw, 50vh); -webkit-transform: scale(1) translate(80vw, 50vh); -moz-transform: scale(1) translate(80vw, 50vh); -ms-transform: scale(1) translate(80vw, 50vh); -o-transform: scale(1) translate(80vw, 50vh); }
        40%  { transform: scale(1) translate(80vw, 50vh); -webkit-transform: scale(1) translate(80vw, 50vh); -moz-transform: scale(1) translate(80vw, 50vh); -ms-transform: scale(1) translate(80vw, 50vh); -o-transform: scale(1) translate(80vw, 50vh); }
        78%  { transform: scale(1) rotate(90deg) translate(-10vw, -20vh); -webkit-transform: scale(1) rotate(90deg) translate(-10vw, -20vh); -moz-transform: scale(1) rotate(90deg) translate(-10vw, -20vh); -ms-transform: scale(1) rotate(90deg) translate(-10vw, -20vh); -o-transform: scale(1) rotate(90deg) translate(-10vw, -20vh); }
        80%  { transform: scale(1) rotate(90deg) translate(-10vw, -20vh); -webkit-transform: scale(1) rotate(90deg) translate(-10vw, -20vh); -moz-transform: scale(1) rotate(90deg) translate(-10vw, -20vh); -ms-transform: scale(1) rotate(90deg) translate(-10vw, -20vh); -o-transform: scale(1) rotate(90deg) translate(-10vw, -20vh); }
        95%  { transorm:scale(1) rotate(180deg) translate(-100px, 180px);}
        100% { transform: scale(1) rotate(180deg) translate(100px, -140px); -webkit-transform: scale(1) rotate(180deg) translate(100px, -140px); -moz-transform: scale(1) rotate(180deg) translate(100px, -140px); -ms-transform: scale(1) rotate(180deg) translate(100px, -140px); -o-transform: scale(1) rotate(180deg) translate(100px, -140px); }
    }
}